In [61]:
import pandas as pd 
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

In [9]:
fs_df = pd.read_csv('../data/Most-Recent-Cohorts-Field-of-Study.csv')

In [10]:
data_dict = pd.read_excel('../data/collegescorecarddatadictionary_01192021-1.xlsx', sheet_name=None)

In [14]:
fs_df.head()

,UNITID,OPEID6,INSTNM,CONTROL,MAIN,CIPCODE,CIPDESC,CREDLEV,CREDDESC,IPEDSCOUNT1,...,EARN_MDN_HI_2YR,BBRR2_FED_COMP_N,BBRR2_FED_COMP_DFLT,BBRR2_FED_COMP_DLNQ,BBRR2_FED_COMP_FBR,BBRR2_FED_COMP_DFR,BBRR2_FED_COMP_NOPROG,BBRR2_FED_COMP_MAKEPROG,BBRR2_FED_COMP_PAIDINFULL,BBRR2_FED_COMP_DISCHARGE
0,100654.0,1002,Alabama A & M University,Public,1,100,"Agriculture, General.",3,Bachelors Degree,NaN,...,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed
1,100654.0,1002,Alabama A & M University,Public,1,109,Animal Sciences.,3,Bachelors Degree,6.0,...,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed
2,100654.0,1002,Alabama A & M University,Public,1,110,Food Science and Technology.,3,Bachelors Degree,8.0,...,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed
3,100654.0,1002,Alabama A & M University,Public,1,110,Food Science and Technology.,5,Master's Degree,10.0,...,PrivacySuppressed,12,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed
4,100654.0,1002,Alabama A & M University,Public,1,110,Food Science and Technology.,6,Doctoral Degree,4.0,...,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed

In [15]:
fs_df.shape

(260531, 92)

In [16]:
data_dict.keys()

dict_keys(['README', 'ChangeLog', 'glossary', 'institution_cohort_map', 'institution_data_dictionary', 'most_recent_inst_cohort_map', 'FieldOfStudy_data_dictionary', 'FieldOfStudy_cohort_map'])

In [17]:
data_dict1= data_dict['FieldOfStudy_data_dictionary']

In [19]:
data_dict1.head()

,NAME OF DATA ELEMENT,dev-category,developer-friendly name,API data type,VARIABLE NAME,VALUE,LABEL,SOURCE,NOTES
0,Unit ID for institution,programs,cip_4_digit.unit_id,integer,UNITID,NaN,NaN,IPEDS,Shown/used on consumer website.
1,6-digit OPE ID for institution,programs,cip_4_digit.ope6_id,string,OPEID6,NaN,NaN,IPEDS/PEPS,NaN
2,Institution name,programs,cip_4_digit.school.name,autocomplete,INSTNM,NaN,NaN,IPEDS/PEPS,NaN
3,Control of institution,programs,cip_4_digit.school.type,integer,CONTROL,1.0,Public,IPEDS/PEPS,NaN
4,NaN,NaN,NaN,NaN,NaN,2.0,Private nonprofit,NaN,NaN

In [20]:
# Columns selected for field study df1 
columns = ['UNITID', 'INSTNM', 'CONTROL', 'CIPCODE', 'CIPDESC',  'CREDLEV', 'CREDDESC', 'DEBT_ALL_STGP_EVAL_MEAN', 'DEBT_ALL_STGP_EVAL_MDN']

In [21]:
fs_df1 = df[columns]

In [22]:
fs_df1.head()

,UNITID,INSTNM,CONTROL,CIPCODE,CIPDESC,CREDLEV,CREDDESC,DEBT_ALL_STGP_EVAL_MEAN,DEBT_ALL_STGP_EVAL_MDN
0,100654.0,Alabama A & M University,Public,100,"Agriculture, General.",3,Bachelors Degree,PrivacySuppressed,PrivacySuppressed
1,100654.0,Alabama A & M University,Public,109,Animal Sciences.,3,Bachelors Degree,PrivacySuppressed,PrivacySuppressed
2,100654.0,Alabama A & M University,Public,110,Food Science and Technology.,3,Bachelors Degree,PrivacySuppressed,PrivacySuppressed
3,100654.0,Alabama A & M University,Public,110,Food Science and Technology.,5,Master's Degree,PrivacySuppressed,PrivacySuppressed
4,100654.0,Alabama A & M University,Public,110,Food Science and Technology.,6,Doctoral Degree,PrivacySuppressed,PrivacySuppressed

In [24]:
fs_df1.DEBT_ALL_STGP_EVAL_MDN[fs_df1.DEBT_ALL_STGP_EVAL_MDN == 'PrivacySuppressed'].count()

208870

In [26]:
fs_df1.DEBT_ALL_STGP_EVAL_MEAN[fs_df1.DEBT_ALL_STGP_EVAL_MEAN == 'PrivacySuppressed'].count()

210452

In [28]:
filt = (fs_df1.DEBT_ALL_STGP_EVAL_MEAN == 'PrivacySuppressed') | (fs_df1.DEBT_ALL_STGP_EVAL_MDN == 'PrivacySuppressed')
fs_df1.shape[0]-fs_df1.DEBT_ALL_STGP_EVAL_MEAN[filt].count()

38947

In [30]:
inst_df = pd.read_csv('../data/Most-Recent-Cohorts-All-Data-Elements.csv')

/home/ana/Projects/StudentDebtForecaster/venv/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3155: DtypeWarning: Columns (9,1547,1589,1595,1596,1597,1598,1601,1602,1608,1619,1620,1621,1622,1623,1624,1625,1626,1627,1628,1629,1640,1643,1648,1653,1657,1664,1665,1666,1669,1670,1674,1679,1683,1688,1689,1690,1691,1692,1697,1700,1702,1703,1704,1705,1706,1707,1725,1726,1727,1728,1729,1743,1815,1816,1817,1818,1823,1824,1830,1831,1846,1879,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1909,1910,1911,1912,1913,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1983,1984,2376,2377) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [31]:
inst_df.shape

(6806, 2384)

In [32]:
inst_df.head()

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,BBRR2_FED_UGCOMP_PAIDINFULL_SUPP,BBRR2_FED_UGCOMP_DISCHARGE_SUPP,LPSTAFFORD_CNT,LPSTAFFORD_AMT,LPPPLUS_CNT,LPPPLUS_AMT,LPGPLUS_CNT,LPGPLUS_AMT,FEDSCHCD,SEARCH_STRING
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,www.aamu.edu/admissions-aid/tuition-fees/net-p...,...,PrivacySuppressed,PrivacySuppressed,31374,922456254,5201,113949554,1004,15578483,001002,Alabama A & M University AAMU
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,https://www.uab.edu,https://uab.studentaidcalculator.com/survey.aspx,...,0.06289779108947,PrivacySuppressed,56997,1720042015,3727,87421879,3461,134126588,001052,University of Alabama at Birmingham
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,Southern Association of Colleges and Schools C...,www.amridgeuniversity.edu,www2.amridgeuniversity.edu:9091/,...,PrivacySuppressed,PrivacySuppressed,4463,174222020,16,309618,298,16290781,016885,Amridge University Southern Christian Universi...
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,www.uah.edu,finaid.uah.edu/,...,0.09598603839441,PrivacySuppressed,19702,407184805,1397,29789762,144,2377759,001055,University of Alabama in Huntsville UAH Unive...
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,www.alasu.edu,www.alasu.edu/cost-aid/tuition-costs/net-price...,...,PrivacySuppressed,PrivacySuppressed,34246,947070736,4602,95359062,587,12174367,001005,Alabama State University

In [40]:
# columns to be selected from inst_df 
inst_cols = ['UNITID', 'CITY', 'STABBR', 'ACCREDAGENCY', 'CONTROL', 'COSTT4_A', 'COSTT4_P', 'TUITIONFEE_IN', 
             'TUITIONFEE_OUT', 'PFTFAC', 'PCTPELL', 'GRAD_DEBT_MDN', 'WDRAW_DEBT_MDN',
             'LO_INC_DEBT_MDN', 'MD_INC_DEBT_MDN', 'HI_INC_DEBT_MDN', 'DEP_DEBT_MDN', 'IND_DEBT_MDN',
             'PELL_DEBT_MDN', 'NOPELL_DEBT_MDN', 'FEMALE_DEBT_MDN', 'MALE_DEBT_MDN', 'FIRSTGEN_DEBT_MDN',
             'NOTFIRSTGEN_DEBT_MDN']

In [38]:
inst_df1 = inst_df[inst_cols]

In [41]:
inst_df1.head().T

,0,1,2,3,4
UNITID,100654,100663,100690,100706,100724
CITY,Normal,Birmingham,Montgomery,Huntsville,Montgomery
STABBR,AL,AL,AL,AL,AL
ACCREDAGENCY,Southern Association of Colleges and Schools C...,Southern Association of Colleges and Schools C...,Southern Association of Colleges and Schools C...,Southern Association of Colleges and Schools C...,Southern Association of Colleges and Schools C...
CONTROL,1,1,2,1,1
COSTT4_A,22489.0,24347.0,17680.0,23441.0,21476.0
COSTT4_P,NaN,NaN,NaN,NaN,NaN
TUITIONFEE_IN,9744.0,8568.0,6900.0,10714.0,11068.0
TUITIONFEE_OUT,18354.0,19704.0,6900.0,22362.0,19396.0
PFTFAC,0.7411,0.7766,1.0,0.6544,0.5826
PCTPELL,0.7067,0.3632,0.7673,0.2698,0.7448
GRAD_DEBT_MDN,33375,22500,27334,21607,32000
WDRAW_DEBT_MDN,10250,9500,9500,9000,11161
LO_INC_DEBT_MDN,15500,16226,9500,16250,18750
MD_INC_DEBT_MDN,16000,15250,19000,14750,18500
HI_INC_DEBT_MDN,14518,14000,25000,12500,18246
DEP_DEBT_MDN,15000,15000,7646,12750,17500
IND_DEBT_MDN,19000,16000,12038,18569,23925
PELL_DEBT_MDN,17500,17500,9500,17014,19056
NOPELL_DEBT_MDN,10250,12500,15509,11899,12000
FEMALE_DEBT_MDN,17500,15000,9500,15250,19500
MALE_DEBT_MDN,14250,15000,17025,13333,15525
FIRSTGEN_DEBT_MDN,15000,15104,11500,14943,19000
NOTFIRSTGEN_DEBT_MDN,16421,15000,9500,13102,17500

In [43]:
data_dict1

,NAME OF DATA ELEMENT,dev-category,developer-friendly name,API data type,VARIABLE NAME,VALUE,LABEL,SOURCE,NOTES
0,Unit ID for institution,programs,cip_4_digit.unit_id,integer,UNITID,NaN,NaN,IPEDS,Shown/used on consumer website.
1,6-digit OPE ID for institution,programs,cip_4_digit.ope6_id,string,OPEID6,NaN,NaN,IPEDS/PEPS,NaN
2,Institution name,programs,cip_4_digit.school.name,autocomplete,INSTNM,NaN,NaN,IPEDS/PEPS,NaN
3,Control of institution,programs,cip_4_digit.school.type,integer,CONTROL,1.0,Public,IPEDS/PEPS,NaN
4,NaN,NaN,NaN,NaN,NaN,2.0,Private nonprofit,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,3.0,Private for-profit,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,4.0,Foreign,NaN,NaN
7,Flag for main campus,programs,cip_4_digit.school.main_campus,integer,MAIN,0.0,Not main campus,IPEDS/PEPS,Shown/used on consumer website.
8,NaN,NaN,NaN,NaN,NaN,1.0,Main campus,NaN,NaN
9,Classification of Instructional Programs (CIP)...,programs,cip_4_digit.code,string,CIPCODE,NaN,NaN,NSLDS,Shown/used on consumer website.
10,Text description of the field of study CIP Code,programs,cip_4_digit.title,string,CIPDESC,NaN,NaN,ED,Shown/used on consumer website.
11,Level of credential,programs,cip_4_digit.credential.level,integer,CREDLEV,1.0,Undergraduate Certificate or Diploma,NSLDS,Shown/used on consumer website.
12,NaN,NaN,NaN,NaN,NaN,2.0,Associate's Degree,NSLDS,NaN
13,NaN,NaN,NaN,NaN,NaN,3.0,Bachelor’s Degree,NSLDS,NaN
14,NaN,NaN,NaN,NaN,NaN,4.0,Post-baccalaureate Certificate,NSLDS,NaN
15,NaN,NaN,NaN,NaN,NaN,5.0,Master's Degree,NSLDS,NaN
16,NaN,NaN,NaN,NaN,NaN,6.0,Doctoral Degree,NSLDS,NaN
17,NaN,NaN,NaN,NaN,NaN,7.0,First Professional Degree,NSLDS,NaN
18,NaN,NaN,NaN,NaN,NaN,8.0,Graduate/Professional Certificate,NSLDS,NaN
19,Text description of the level of credential,programs,cip_4_digit.credential.title,string,CREDDESC,NaN,NaN,NSLDS,Shown/used on consumer website.
20,Number of awards to all students in year 1 of ...,programs,cip_4_digit.counts.ipeds_awards1,integer,IPEDSCOUNT1,NaN,NaN,IPEDS,NaN
21,Number of awards to all students in year 2 of ...,programs,cip_4_digit.counts.ipeds_awards2,integer,IPEDSCOUNT2,NaN,NaN,IPEDS,Shown/used on consumer website.
22,Student recipient count for average/median Par...,programs,cip_4_digit.debt.parent_plus.all.all_inst.count,integer,DEBT_ALL_PP_ANY_N,NaN,NaN,NSLDS,NaN
23,Average Parent PLUS loan debt disbursed at all...,programs,cip_4_digit.debt.parent_plus.all.all_inst.average,integer,DEBT_ALL_PP_ANY_MEAN,NaN,NaN,NSLDS,NaN
24,Median Parent PLUS loan debt disbursed at all ...,programs,cip_4_digit.debt.parent_plus.all.all_inst.median,integer,DEBT_ALL_PP_ANY_MDN,NaN,NaN,NSLDS,NaN
25,Student recipient count for average/median Par...,programs,cip_4_digit.debt.parent_plus.male.all_inst.count,integer,DEBT_MALE_PP_ANY_N,NaN,NaN,NSLDS,NaN
26,Average Parent PLUS loan debt disbursed to mal...,programs,cip_4_digit.debt.parent_plus.male.all_inst.ave...,integer,DEBT_MALE_PP_ANY_MEAN,NaN,NaN,NSLDS,NaN
27,Median Parent PLUS loan debt disbursed to male...,programs,cip_4_digit.debt.parent_plus.male.all_inst.median,integer,DEBT_MALE_PP_ANY_MDN,NaN,NaN,NSLDS,NaN
28,Student recipient count for average/median Par...,programs,cip_4_digit.debt.parent_plus.not_male.all_inst...,integer,DEBT_NOTMALE_PP_ANY_N,NaN,NaN,NSLDS,NaN
29,Average Parent PLUS loan debt disbursed to non...,programs,cip_4_digit.debt.parent_plus.not_male.all_inst...,integer,DEBT_NOTMALE_PP_ANY_MEAN,NaN,NaN,NSLDS,NaN
30,Median Parent PLUS loan debt disbursed to non-...,programs,cip_4_digit.debt.parent_plus.not_male.all_inst...,integer,DEBT_NOTMALE_PP_ANY_MDN,NaN,NaN,NSLDS,NaN
31,Student recipient count for average/median Par...,programs,cip_4_digit.debt.parent_plus.pell.all_inst.count,integer,DEBT_PELL_PP_ANY_N,NaN,NaN,NSLDS,NaN
32,Average Parent PLUS loan debt disbursed to Pel...,programs,cip_4_digit.debt.parent_plus.pell.all_inst.ave...,integer,DEBT_PELL_PP_ANY_MEAN,NaN,NaN,NSLDS,NaN
33,Median Parent PLUS loan debt disbursed to Pell...,programs,cip_4_digit.debt.parent_plus.pell.all_inst.median,integer,DEBT_PELL_PP_ANY_MDN,NaN,NaN,NSLDS,NaN
34,Student recipient count for average/median Par...,programs,cip_4_digit.debt.parent_plus.not_pell.all_inst...,integer,DEBT_NOPELL_PP_ANY_N,NaN,NaN,NSLDS,NaN
35,Average Parent PLUS loan debt disbursed to non...,programs,cip_4_digit.debt.parent_plus.not_pell.all_inst...,integer,DEBT_NOPELL_PP_ANY_MEAN,NaN,NaN,NSLDS,NaN
36,Median Parent PLUS loan debt disbursed to non-...,programs,cip_4_digit.debt.parent_plus.not_pell.all_inst...,integer,DEBT_NOPELL_PP_ANY_MDN,NaN,NaN,NSLDS,NaN
37,Student recipient count for average/median Par...,programs,cip_4_digit.debt.parent_plus.all.eval_inst.count,integer,DEBT_ALL_PP_EVAL_N,NaN,NaN,NSLDS,NaN
38,Average Parent PLUS loan debt disbursed at thi...,programs,cip_4_digit.debt.parent_plus.all.eval_inst.ave...,integer,DEBT_ALL_PP_EVAL_MEAN,NaN,NaN,NSLDS,NaN
39,Median Parent PLUS loan debt disbursed at this...,programs,cip_4_digit.debt.parent_plus.all.eval_inst.median,integer,DEBT_ALL_PP_EVAL_MDN,NaN,NaN,NSLDS,NaN
40,Student recipient count for average/median Par...,programs,cip_4_digit.debt.parent_plus.male.eval_inst.count,integer,DEBT_MALE_PP_EVAL_N,NaN,NaN,NSLDS,NaN
41,Average Parent PLUS loan debt disbursed to mal...,programs,cip_4_digit.debt.parent_plus.male.eval_inst.av...,integer,DEBT_MALE_PP_EVAL_MEAN,NaN,NaN,NSLDS,NaN
42,Median Parent PLUS loan debt disbursed to male...,programs,cip_4_digit.debt.parent_plus.male.eval_inst.me...,integer,DEBT_MALE_PP_EVAL_MDN,NaN,NaN,NSLDS,NaN
43,Student recipient count for average/median Par...,programs,cip_4_digit.debt.parent_plus.not_male.eval_ins...,integer,DEBT_NOTMALE_PP_EVAL_N,NaN,NaN,NSLDS,NaN
44,Average Parent PLUS loan debt disbursed to non...,programs,cip_4_digit.debt.parent_plus.not_male.eval_ins...,integer,DEBT_NOTMALE_PP_EVAL_MEAN,NaN,NaN,NSLDS,NaN
45,Median Parent PLUS loan debt disbursed to non-...,programs,cip_4_digit.debt.parent_plus.not_male.eval_ins...,integer,DEBT_NOTMALE_PP_EVAL_MDN,NaN,NaN,NSLDS,NaN
46,Student recipient count for average/median Par...,programs,cip_4_digit.debt.parent_plus.pell.eval_inst.count,integer,DEBT_PELL_PP_EVAL_N,NaN,NaN,NSLDS,NaN
47,Average Parent PLUS loan debt disbursed to Pel...,programs,cip_4_digit.debt.parent_plus.pell.eval_inst.av...,integer,DEBT_PELL_PP_EVAL_MEAN,NaN,NaN,NSLDS,NaN
48,Median Parent PLUS loan debt disbursed to Pell...,programs,cip_4_digit.debt.parent_plus.pell.eval_inst.me...,integer,DEBT_PELL_PP_EVAL_MDN,NaN,NaN,NSLDS,NaN
49,Student recipient count for average/median Par...,programs,cip_4_digit.debt.parent_plus.not_pell.eval_ins...,integer,DEBT_NOPELL_PP_EVAL_N,NaN,NaN,NSLDS,NaN
50,Average Parent PLUS loan debt disbursed to non...,programs,cip_4_digit.debt.parent_plus.not_pell.eval_ins...,integer,DEBT_NOPELL_PP_EVAL_MEAN,NaN,NaN,NSLDS,NaN
51,Median Parent PLUS loan debt disbursed to non-...,programs,cip_4_digit.debt.parent_plus.not_pell.eval_ins...,integer,DEBT_NOPELL_PP_EVAL_MDN,NaN,NaN,NSLDS,NaN
52,Borrower count for average/median Stafford and...,programs,cip_4_digit.debt.staff_grad_plus.all.all_inst....,integer,DEBT_ALL_STGP_ANY_N,NaN,NaN,NSLDS,NaN
53,Average Stafford and Grad PLUS loan debt disbu...,programs,cip_4_digit.debt.staff_grad_plus.all.all_inst....,integer,DEBT_ALL_STGP_ANY_MEAN,NaN,NaN,NSLDS,NaN
54,Median Stafford and Grad PLUS loan debt disbur...,programs,cip_4_digit.debt.staff_grad_plus.all.all_inst....,integer,DEBT_ALL_STGP_ANY_MDN,NaN,NaN,NSLDS,Shown/used on consumer website.
55,Borrower count for average/median Stafford and...,programs,cip_4_digit.debt.staff_grad_plus.male.all_inst...,integer,DEBT_MALE_STGP_ANY_N,NaN,NaN,NSLDS,NaN
56,Average Stafford and Grad PLUS loan debt disbu...,programs,cip_4_digit.debt.staff_grad_plus.male.all_inst...,integer,DEBT_MALE_STGP_ANY_MEAN,NaN,NaN,NSLDS,NaN
57,Median Stafford and Grad PLUS loan debt disbur...,programs,cip_4_digit.debt.staff_grad_plus.male.all_inst...,integer,DEBT_MALE_STGP_ANY_MDN,NaN,NaN,NSLDS,NaN
58,Borrower count for average/median Stafford and...,programs,cip_4_digit.debt.staff_grad_plus.not_male.all_...,integer,DEBT_NOTMALE_STGP_ANY_N,NaN,NaN,NSLDS,NaN
59,Average Stafford and Grad PLUS loan debt disbu...,programs,cip_4_digit.debt.staff_grad_plus.not_male.all_...,integer,DEBT_NOTMALE_STGP_ANY_MEAN,NaN,NaN,NSLDS,NaN
60,Median Stafford and Grad PLUS loan debt disbur...,programs,cip_4_digit.debt.staff_grad_plus.not_male.all_...,integer,DEBT_NOTMALE_STGP_ANY_MDN,NaN,NaN,NSLDS,NaN
61,Borrower count for average/median Stafford and...,programs,cip_4_digit.debt.staff_grad_plus.pell.all_inst...,integer,DEBT_PELL_STGP_ANY_N,NaN,NaN,NSLDS,NaN
62,Average Stafford and Grad PLUS loan debt disbu...,programs,cip_4_digit.debt.staff_grad_plus.pell.all_inst...,integer,DEBT_PELL_STGP_ANY_MEAN,NaN,NaN,NSLDS,NaN
63,Median Stafford and Grad PLUS loan debt disbur...,programs,cip_4_digit.debt.staff_grad_plus.pell.all_inst...,integer,DEBT_PELL_STGP_ANY_MDN,NaN,NaN,NSLDS,NaN
64,Borrower count for average/median Stafford and...,programs,cip_4_digit.debt.staff_grad_plus.not_pell.all_...,integer,DEBT_NOPELL_STGP_ANY_N,NaN,NaN,NSLDS,NaN
65,Average Stafford and Grad PLUS loan debt disbu...,programs,cip_4_digit.debt.staff_grad_plus.not_pell.all_...,integer,DEBT_NOPELL_STGP_ANY_MEAN,NaN,NaN,NSLDS,NaN
66,Median Stafford and Grad PLUS loan debt disbur...,programs,cip_4_digit.debt.staff_grad_plus.not_pell.all_...,integer,DEBT_NOPELL_STGP_ANY_MDN,NaN,NaN,NSLDS,NaN
67,Borrower count for average/median Stafford and...,programs,cip_4_digit.debt.staff_grad_plus.all.eval_inst...,integer,DEBT_ALL_STGP_EVAL_N,NaN,NaN,NSLDS,NaN
68,Average Stafford and Grad PLUS loan debt disbu...,programs,cip_4_digit.debt.staff_grad_plus.all.eval_inst...,integer,DEBT_ALL_STGP_EVAL_MEAN,NaN,NaN,NSLDS,NaN
69,Median Stafford and Grad PLUS loan debt disbur...,programs,cip_4_digit.debt.staff_grad_plus.all.eval_inst...,integer,DEBT_ALL_STGP_EVAL_MDN,NaN,NaN,NSLDS,Shown/used on consumer website.
70,Borrower count for average/median Stafford and...,programs,cip_4_digit.debt.staff_grad_plus.male.eval_ins...,integer,DEBT_MALE_STGP_EVAL_N,NaN,NaN,NSLDS,NaN
71,Average Stafford and Grad PLUS loan debt disbu...,programs,cip_4_digit.debt.staff_grad_plus.male.eval_ins...,integer,DEBT_MALE_STGP_EVAL_MEAN,NaN,NaN,NSLDS,NaN
72,Median Stafford and Grad PLUS loan debt disbur...,programs,cip_4_digit.debt.staff_grad_plus.male.eval_ins...,integer,DEBT_MALE_STGP_EVAL_MDN,NaN,NaN,NSLDS,NaN
73,Borrower count for average/median Stafford and...,programs,cip_4_digit.debt.staff_grad_plus.not_male.eval...,integer,DEBT_NOTMALE_STGP_EVAL_N,NaN,NaN,NSLDS,NaN
74,Average Stafford and Grad PLUS loan debt disbu...,programs,cip_4_digit.debt.staff_grad_plus.not_male.eval...,integer,DEBT_NOTMALE_STGP_EVAL_MEAN,NaN,NaN,NSLDS,NaN
75,Median Stafford and Grad PLUS loan debt disbur...,programs,cip_4_digit.debt.staff_grad_plus.not_male.eval...,integer,DEBT_NOTMALE_STGP_EVAL_MDN,NaN,NaN,NSLDS,NaN
76,Borrower count for average/median Stafford and...,programs,cip_4_digit.debt.staff_grad_plus.pell.eval_ins...,integer,DEBT_PELL_STGP_EVAL_N,NaN,NaN,NSLDS,NaN
77,Average Stafford and Grad PLUS loan debt disbu...,programs,cip_4_digit.debt.staff_grad_plus.pell.eval_ins...,integer,DEBT_PELL_STGP_EVAL_MEAN,NaN,NaN,NSLDS,NaN
78,Median Stafford and Grad PLUS loan debt disbur...,programs,cip_4_digit.debt.staff_grad_plus.pell.eval_ins...,integer,DEBT_PELL_STGP_EVAL_MDN,NaN,NaN,NSLDS,NaN
79,Borrower count for average/median Stafford and...,programs,cip_4_digit.debt.staff_grad_plus.not_pell.eval...,integer,DEBT_NOPELL_STGP_EVAL_N,NaN,NaN,NSLDS,NaN
80,Average Stafford and Grad PLUS loan debt disbu...,programs,cip_4_digit.debt.staff_grad_plus.not_pell.eval...,integer,DEBT_NOPELL_STGP_EVAL_MEAN,NaN,NaN,NSLDS,NaN
81,Median Stafford and Grad PLUS loan debt disbur...,programs,cip_4_digit.debt.staff_grad_plus.not_pell.eval...,integer,DEBT_NOPELL_STGP_EVAL_MDN,NaN,NaN,NSLDS,NaN
82,Median estimated monthly payment for Parent PL...,programs,cip_4_digit.debt.parent_plus.all.all_inst.medi...,float,DEBT_ALL_PP_ANY_MDN10YRPAY,NaN,NaN,NSLDS,NaN
83,Median estimated monthly payment for Parent PL...,programs,cip_4_digit.debt.parent_plus.all.eval_inst.med...,float,DEBT_ALL_PP_EVAL_MDN10YRPAY,NaN,NaN,NSLDS,NaN
84,Median estimated monthly payment for Stafford ...,programs,cip_4_digit.debt.staff_grad_plus.all.all_inst....,float,DEBT_ALL_STGP_ANY_MDN10YRPAY,NaN,NaN,NSLDS,NaN
85,Median estimated monthly payment for Stafford ...,programs,cip_4_digit.debt.staff_grad_plus.all.eval_inst...,float,DEBT_ALL_STGP_EVAL_MDN10YRPAY,NaN,NaN,NSLDS,NaN
86,Number of graduates not working and not enroll...,programs,cip_4_digit.earnings.highest.1_yr.not_working_...,integer,EARN_COUNT_NWNE_HI_1YR,NaN,NaN,Treasury,NaN
87,Number of graduates working and not enrolled 1...,programs,cip_4_digit.earnings.highest.1_yr.working_not_...,integer,EARN_COUNT_WNE_HI_1YR,NaN,NaN,Treasury,NaN
88,Median earnings of graduates working and not e...,programs,cip_4_digit.earnings.highest.1_yr.overall_medi...,integer,EARN_MDN_HI_1YR,NaN,NaN,Treasury,NaN
89,Number of graduates working and not enrolled w...,programs,cip_4_digit.earnings.highest.1_yr.overall_coun...,integer,EARN_CNTOVER150_HI_1YR,NaN,NaN,Treasury,NaN
90,Number of graduates not working and not enroll...,programs,cip_4_digit.earnings.highest.2_yr.not_working_...,integer,EARN_COUNT_NWNE_HI_2YR,NaN,NaN,Treasury,NaN
91,Number of graduates working and not enrolled 2...,programs,cip_4_digit.earnings.highest.2_yr.working_not_...,integer,EARN_COUNT_WNE_HI_2YR,NaN,NaN,Treasury,NaN
92,Median earnings of graduates working and not e...,programs,cip_4_digit.earnings.highest.2_yr.overall_medi...,integer,EARN_MDN_HI_2YR,NaN,NaN,Treasury,Shown/used on consumer website.
93,Number of graduates working and not enrolled w...,programs,cip_4_digit.earnings.highest.2_yr.overall_coun...,integer,EARN_CNTOVER150_HI_2YR,NaN,NaN,Treasury,NaN
94,Federal student loan borrower-based 2-year bor...,programs,cip_4_digit.repayment.2_yr_bb_fed_comp.count,integer,BBRR2_FED_COMP_N,NaN,NaN,NSLDS,NaN
95,Percentage of undergraduate completer undergra...,programs,cip_4_digit.repayment.2_yr_bb_fed_comp.default,float,BBRR2_FED_COMP_DFLT,NaN,NaN,NSLDS,NaN
96,Percentage of undergraduate completer undergra...,programs,cip_4_digit.repayment.2_yr_bb_fed_comp.delinquent,float,BBRR2_FED_COMP_DLNQ,NaN,NaN,NSLDS,NaN
97,Percentage of undergraduate completer undergra...,programs,cip_4_digit.repayment.2_yr_bb_fed_comp.forbear...,float,BBRR2_FED_COMP_FBR,NaN,NaN,NSLDS,NaN
98,Percentage of undergraduate completer undergra...,programs,cip_4_digit.repayment.2_yr_bb_fed_comp.deferment,float,BBRR2_FED_COMP_DFR,NaN,NaN,NSLDS,NaN
99,Percentage of undergraduate completer undergra...,programs,cip_4_digit.repayment.2_yr_bb_fed_comp.noprogress,float,BBRR2_FED_COMP_NOPROG,NaN,NaN,NSLDS,NaN
100,Percentage of undergraduate completer undergra...,programs,cip_4_digit.repayment.2_yr_bb_fed_comp.makingp...,float,BBRR2_FED_COMP_MAKEPROG,NaN,NaN,NSLDS,NaN
101,Percentage of undergraduate completer undergra...,programs,cip_4_digit.repayment.2_yr_bb_fed_comp.fullypaid,float,BBRR2_FED_COMP_PAIDINFULL,NaN,NaN,NSLDS,NaN
102,Percentage of undergraduate completer undergra...,programs,cip_4_digit.repayment.2_yr_bb_fed_comp.discharge,float,BBRR2_FED_COMP_DISCHARGE,NaN,NaN,NSLDS,NaN

In [48]:
#Reduce data dictionary for each df for convenience 
#Field of study data dict 
filt= data_dict1['VARIABLE NAME'].isin(columns)
fs_dictionary = data_dict1[filt]

In [65]:
fs_dictionary

,NAME OF DATA ELEMENT,dev-category,developer-friendly name,API data type,VARIABLE NAME,VALUE,LABEL,SOURCE,NOTES
0,Unit ID for institution,programs,cip_4_digit.unit_id,integer,UNITID,NaN,NaN,IPEDS,Shown/used on consumer website.
2,Institution name,programs,cip_4_digit.school.name,autocomplete,INSTNM,NaN,NaN,IPEDS/PEPS,NaN
3,Control of institution,programs,cip_4_digit.school.type,integer,CONTROL,1.0,Public,IPEDS/PEPS,NaN
9,Classification of Instructional Programs (CIP) code for the field of study,programs,cip_4_digit.code,string,CIPCODE,NaN,NaN,NSLDS,Shown/used on consumer website.
10,Text description of the field of study CIP Code,programs,cip_4_digit.title,string,CIPDESC,NaN,NaN,ED,Shown/used on consumer website.
11,Level of credential,programs,cip_4_digit.credential.level,integer,CREDLEV,1.0,Undergraduate Certificate or Diploma,NSLDS,Shown/used on consumer website.
19,Text description of the level of credential,programs,cip_4_digit.credential.title,string,CREDDESC,NaN,NaN,NSLDS,Shown/used on consumer website.
68,Average Stafford and Grad PLUS loan debt disbursed at this institution,programs,cip_4_digit.debt.staff_grad_plus.all.eval_inst.average,integer,DEBT_ALL_STGP_EVAL_MEAN,NaN,NaN,NSLDS,NaN
69,Median Stafford and Grad PLUS loan debt disbursed at this institution,programs,cip_4_digit.debt.staff_grad_plus.all.eval_inst.median,integer,DEBT_ALL_STGP_EVAL_MDN,NaN,NaN,NSLDS,Shown/used on consumer website.

In [66]:
inst_dict = data_dict['institution_data_dictionary']

In [67]:
filt = inst_dict['VARIABLE NAME'].isin(inst_cols)
inst_dict = inst_dict[filt]

In [68]:
inst_dict

,NAME OF DATA ELEMENT,dev-category,developer-friendly name,API data type,VARIABLE NAME,VALUE,LABEL,SOURCE,NOTES,Unnamed: 9,Unnamed: 10
4,City,school,city,autocomplete,CITY,NaN,NaN,IPEDS,Shown/used on consumer website.,NaN,NaN
5,State postcode,school,state,string,STABBR,NaN,NaN,IPEDS,Shown/used on consumer website.,NaN,NaN
7,Accreditor for institution,school,accreditor,string,ACCREDAGENCY,NaN,NaN,FSA,NaN,NaN,NaN
25,Control of institution,school,ownership,integer,CONTROL,1,Public,IPEDS,Shown/used on consumer website.,NaN,NaN
618,Average cost of attendance (academic year institutions),cost,attendance.academic_year,integer,COSTT4_A,NaN,NaN,IPEDS,"The average annual total cost of attendance, including tuition and fees, books and supplies, and living expenses for all full-time, first-time, degree/certificate-seeking undergraduates who receive Title IV aid. It is calculated from values in the IPEDS Institutional Characteristics and Student Financial Aid components. Separate metrics are calculated for academic-year institutions and program-year institutions. For academic-year institutions, average cost of attendance represents an average of all programs and includes only full-time, first-time, degree/certificate-seeking undergraduates who first enrolled in the fall term. For non-academic-year institutions (program or continuous enrollment), average cost of attendance represents the program with the largest enrollment at the institution, and it includes full-time, first-time, degree/certificate-seeking undergraduates who first enrolled at any time during the academic year. For programs less than 1 year in length (see LProgram), this represents the cost for the full program.",NaN,NaN
619,Average cost of attendance (program-year institutions),cost,attendance.program_year,integer,COSTT4_P,NaN,NaN,IPEDS,ibid,NaN,NaN
620,In-state tuition and fees,cost,tuition.in_state,integer,TUITIONFEE_IN,NaN,NaN,IPEDS,NaN,NaN,NaN
621,Out-of-state tuition and fees,cost,tuition.out_of_state,integer,TUITIONFEE_OUT,NaN,NaN,IPEDS,NaN,NaN,NaN
626,Proportion of faculty that is full-time,school,ft_faculty_rate,float,PFTFAC,NaN,NaN,IPEDS,"Proportion of faculty that are employed full time, calculated from the IPEDS Human Resources component. This metric is calculated as the number of full-time nonmedical faculty divided by the total number of nonmedical faculty. Proportions are expressed as decimals rounded to four decimal places, so, for example, 0.1234 equals 12.34 percent.",NaN,NaN
627,Percentage of undergraduates who receive a Pell Grant,aid,pell_grant_rate,float,PCTPELL,NaN,NaN,IPEDS,"The proportion of undergraduates who received a Pell grant in the academic year, calculated from the IPEDS Student Financial Aid component. This metric is calculated by IPEDS as the quotient of the number of Pell grant recipients divided by the count of all undergraduates for either a fall enrollment cohort (for institutions that primarily follow an academic year calendar system) or a full-year enrollment cohort (for institutions that primarily follow a continuous enrollment or program-based calendar system). Proportions are expressed as decimals rounded to four decimal places, so, for example, 0.1234 equals 12.34 percent. This metric is not available prior to the 2008-09 academic year.",NaN,NaN
1746,The median debt for students who have completed,aid,median_debt.completers.overall,float,GRAD_DEBT_MDN,NaN,NaN,NSLDS,NaN,NaN,NaN
1747,The median debt for students who have not completed,aid,median_debt.noncompleters,float,WDRAW_DEBT_MDN,NaN,NaN,NSLDS,NaN,NaN,NaN
1748,"The median debt for students with family income between $0-$30,000",aid,median_debt.income.0_30000,float,LO_INC_DEBT_MDN,NaN,NaN,NSLDS,NaN,NaN,NaN
1749,"The median debt for students with family income between $30,001-$75,000",aid,median_debt.income.30001_75000,float,MD_INC_DEBT_MDN,NaN,NaN,NSLDS,NaN,NaN,NaN
1750,"The median debt for students with family income $75,001+",aid,median_debt.income.greater_than_75000,float,HI_INC_DEBT_MDN,NaN,NaN,NSLDS,NaN,NaN,NaN
1751,The median debt for dependent students,aid,median_debt.dependent_students,float,DEP_DEBT_MDN,NaN,NaN,NSLDS,NaN,NaN,NaN
1752,The median debt for independent students,aid,median_debt.independent_students,float,IND_DEBT_MDN,NaN,NaN,NSLDS,NaN,NaN,NaN
1753,The median debt for Pell students,aid,median_debt.pell_grant,float,PELL_DEBT_MDN,NaN,NaN,NSLDS,NaN,NaN,NaN
1754,The median debt for no-Pell students,aid,median_debt.no_pell_grant,float,NOPELL_DEBT_MDN,NaN,NaN,NSLDS,NaN,NaN,NaN
1755,The median debt for female students,aid,median_debt.female_students,float,FEMALE_DEBT_MDN,NaN,NaN,NSLDS,NaN,NaN,NaN
1756,The median debt for male students,aid,median_debt.male_students,float,MALE_DEBT_MDN,NaN,NaN,NSLDS,NaN,NaN,NaN
1757,The median debt for first-generation students,aid,median_debt.first_generation_students,float,FIRSTGEN_DEBT_MDN,NaN,NaN,NSLDS,NaN,NaN,NaN
1758,The median debt for not-first-generation students,aid,median_debt.non_first_generation_students,float,NOTFIRSTGEN_DEBT_MDN,NaN,NaN,NSLDS,NaN,NaN,NaN

In [73]:
inst_df1.head(2)

,UNITID,CITY,STABBR,ACCREDAGENCY,CONTROL,COSTT4_A,COSTT4_P,TUITIONFEE_IN,TUITIONFEE_OUT,PFTFAC,PCTPELL,GRAD_DEBT_MDN,WDRAW_DEBT_MDN,LO_INC_DEBT_MDN,MD_INC_DEBT_MDN,HI_INC_DEBT_MDN,DEP_DEBT_MDN,IND_DEBT_MDN,PELL_DEBT_MDN,NOPELL_DEBT_MDN,FEMALE_DEBT_MDN,MALE_DEBT_MDN,FIRSTGEN_DEBT_MDN,NOTFIRSTGEN_DEBT_MDN
0,100654,Normal,AL,Southern Association of Colleges and Schools Commission on Colleges,1,22489.0,NaN,9744.0,18354.0,0.7411,0.7067,33375,10250,15500,16000,14518,15000,19000,17500,10250,17500,14250,15000,16421
1,100663,Birmingham,AL,Southern Association of Colleges and Schools Commission on Colleges,1,24347.0,NaN,8568.0,19704.0,0.7766,0.3632,22500,9500,16226,15250,14000,15000,16000,17500,12500,15000,15000,15104,15000

In [84]:
inst_df1.UNITID.nunique()

6806

In [86]:
inst_df1.CONTROL.value_counts() #1 Public, 2 Private non-profit, 3 private for-profit

3    2698
1    2102
2    2006
Name: CONTROL, dtype: int64