In [27]:
# PANDAS IS FOR DATA WRANGLING
import pandas as pd
import numpy as np
# SEABORN IS A PLOTTING LIBRARY
import seaborn as sns

# MATPLOT LIB IS ALSO A PLOTTING LIBRARY
import matplotlib.pyplot as plt

# IMPORT OUR LINEAR REGRESSION MODEL
from sklearn.linear_model import LinearRegression

# IMPORT OUR RANDOM FOREST REGERSSOR MODEL
from sklearn.ensemble import RandomForestRegressor


# IM LEAVING THERES HERE BECAUSE IM NICE
# METRICS HELP US SCORE OUR MODEL
from sklearn import metrics

# HELP US SPLIT OUR DATA INTO TESTING A TRAINING
from sklearn.model_selection import train_test_split

# HELPER FUNCTION WITH Z-SCORES TO REMOVE OUTLIERS
import scipy.stats as stats

%matplotlib inline

import pickle

In [2]:
#Read in reduced institutional data 
na_vals = ['Na', 'NaN', 'PrivacySuppressed']
df = pd.read_csv('../data/reduced_inst_data.csv', na_values=na_vals, index_col='UNITID')

In [3]:
df.head()

,Unnamed: 0,CITY,STABBR,ACCREDAGENCY,CONTROL,COSTT4_A,COSTT4_P,TUITIONFEE_IN,TUITIONFEE_OUT,PFTFAC,...,MD_INC_DEBT_MDN,HI_INC_DEBT_MDN,DEP_DEBT_MDN,IND_DEBT_MDN,PELL_DEBT_MDN,NOPELL_DEBT_MDN,FEMALE_DEBT_MDN,MALE_DEBT_MDN,FIRSTGEN_DEBT_MDN,NOTFIRSTGEN_DEBT_MDN
UNITID,,,,,,,,,,,,,,,,,,,,,
100654,0,Normal,AL,Southern Association of Colleges and Schools C...,1,22489.0,NaN,9744.0,18354.0,0.7411,...,16000.0,14518.0,15000.0,19000.0,17500.0,10250.0,17500.0,14250.0,15000.0,16421.0
100663,1,Birmingham,AL,Southern Association of Colleges and Schools C...,1,24347.0,NaN,8568.0,19704.0,0.7766,...,15250.0,14000.0,15000.0,16000.0,17500.0,12500.0,15000.0,15000.0,15104.0,15000.0
100690,2,Montgomery,AL,Southern Association of Colleges and Schools C...,2,17680.0,NaN,6900.0,6900.0,1.0000,...,19000.0,25000.0,7646.0,12038.0,9500.0,15509.0,9500.0,17025.0,11500.0,9500.0
100706,3,Huntsville,AL,Southern Association of Colleges and Schools C...,1,23441.0,NaN,10714.0,22362.0,0.6544,...,14750.0,12500.0,12750.0,18569.0,17014.0,11899.0,15250.0,13333.0,14943.0,13102.0
100724,4,Montgomery,AL,Southern Association of Colleges and Schools C...,1,21476.0,NaN,11068.0,19396.0,0.5826,...,18500.0,18246.0,17500.0,23925.0,19056.0,12000.0,19500.0,15525.0,19000.0,17500.0

In [4]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [5]:
df.head()

,CITY,STABBR,ACCREDAGENCY,CONTROL,COSTT4_A,COSTT4_P,TUITIONFEE_IN,TUITIONFEE_OUT,PFTFAC,PCTPELL,...,MD_INC_DEBT_MDN,HI_INC_DEBT_MDN,DEP_DEBT_MDN,IND_DEBT_MDN,PELL_DEBT_MDN,NOPELL_DEBT_MDN,FEMALE_DEBT_MDN,MALE_DEBT_MDN,FIRSTGEN_DEBT_MDN,NOTFIRSTGEN_DEBT_MDN
UNITID,,,,,,,,,,,,,,,,,,,,,
100654,Normal,AL,Southern Association of Colleges and Schools C...,1,22489.0,NaN,9744.0,18354.0,0.7411,0.7067,...,16000.0,14518.0,15000.0,19000.0,17500.0,10250.0,17500.0,14250.0,15000.0,16421.0
100663,Birmingham,AL,Southern Association of Colleges and Schools C...,1,24347.0,NaN,8568.0,19704.0,0.7766,0.3632,...,15250.0,14000.0,15000.0,16000.0,17500.0,12500.0,15000.0,15000.0,15104.0,15000.0
100690,Montgomery,AL,Southern Association of Colleges and Schools C...,2,17680.0,NaN,6900.0,6900.0,1.0000,0.7673,...,19000.0,25000.0,7646.0,12038.0,9500.0,15509.0,9500.0,17025.0,11500.0,9500.0
100706,Huntsville,AL,Southern Association of Colleges and Schools C...,1,23441.0,NaN,10714.0,22362.0,0.6544,0.2698,...,14750.0,12500.0,12750.0,18569.0,17014.0,11899.0,15250.0,13333.0,14943.0,13102.0
100724,Montgomery,AL,Southern Association of Colleges and Schools C...,1,21476.0,NaN,11068.0,19396.0,0.5826,0.7448,...,18500.0,18246.0,17500.0,23925.0,19056.0,12000.0,19500.0,15525.0,19000.0,17500.0

In [6]:
df.duplicated().value_counts()

False    6787
True       19
dtype: int64

In [7]:
#Drop duplicates
df.drop_duplicates(inplace=True)

In [8]:
df.isna().sum()

CITY                       0
STABBR                     0
ACCREDAGENCY             354
CONTROL                    0
COSTT4_A                3356
COSTT4_P                4612
TUITIONFEE_IN           2929
TUITIONFEE_OUT          3167
PFTFAC                  3167
PCTPELL                  774
GRAD_DEBT_MDN           1489
WDRAW_DEBT_MDN          1640
LO_INC_DEBT_MDN         1576
MD_INC_DEBT_MDN         2349
HI_INC_DEBT_MDN         2355
DEP_DEBT_MDN            1752
IND_DEBT_MDN            1752
PELL_DEBT_MDN           1950
NOPELL_DEBT_MDN         1950
FEMALE_DEBT_MDN         2194
MALE_DEBT_MDN           2194
FIRSTGEN_DEBT_MDN       2053
NOTFIRSTGEN_DEBT_MDN    2053
dtype: int64

In [9]:
df.dtypes

CITY                     object
STABBR                   object
ACCREDAGENCY             object
CONTROL                   int64
COSTT4_A                float64
COSTT4_P                float64
TUITIONFEE_IN           float64
TUITIONFEE_OUT          float64
PFTFAC                  float64
PCTPELL                 float64
GRAD_DEBT_MDN           float64
WDRAW_DEBT_MDN          float64
LO_INC_DEBT_MDN         float64
MD_INC_DEBT_MDN         float64
HI_INC_DEBT_MDN         float64
DEP_DEBT_MDN            float64
IND_DEBT_MDN            float64
PELL_DEBT_MDN           float64
NOPELL_DEBT_MDN         float64
FEMALE_DEBT_MDN         float64
MALE_DEBT_MDN           float64
FIRSTGEN_DEBT_MDN       float64
NOTFIRSTGEN_DEBT_MDN    float64
dtype: object

### Turn object times into pandas categories

In [10]:
categoricals = []
for label, content in df.items(): 
    if pd.api.types.is_string_dtype(content): 
        print(label)
        categoricals.append(label)

CITY
STABBR
ACCREDAGENCY

In [11]:
#Turn string values into category values 
for label, content in df.items(): 
    if pd.api.types.is_string_dtype(content): 
        df[label] = content.astype('category').cat.as_ordered()

In [12]:
#Check that object columns changed to categories 
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6787 entries, 100654 to 49146401
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CITY                  6787 non-null   category
 1   STABBR                6787 non-null   category
 2   ACCREDAGENCY          6433 non-null   category
 3   CONTROL               6787 non-null   int64
 4   COSTT4_A              3431 non-null   float64
 5   COSTT4_P              2175 non-null   float64
 6   TUITIONFEE_IN         3858 non-null   float64
 7   TUITIONFEE_OUT        3620 non-null   float64
 8   PFTFAC                3620 non-null   float64
 9   PCTPELL               6013 non-null   float64
 10  GRAD_DEBT_MDN         5298 non-null   float64
 11  WDRAW_DEBT_MDN        5147 non-null   float64
 12  LO_INC_DEBT_MDN       5211 non-null   float64
 13  MD_INC_DEBT_MDN       4438 non-null   float64
 14  HI_INC_DEBT_MDN       4432 non-null   float64
 15  DEP_DEBT_MDN          5035 non-null   float64
 16  IND_DEBT_MDN          5035 non-null   float64
 17  PELL_DEBT_MDN         4837 non-null   float64
 18  NOPELL_DEBT_MDN       4837 non-null   float64
 19  FEMALE_DEBT_MDN       4593 non-null   float64
 20  MALE_DEBT_MDN         4593 non-null   float64
 21  FIRSTGEN_DEBT_MDN     4734 non-null   float64
 22  NOTFIRSTGEN_DEBT_MDN  4734 non-null   float64
dtypes: category(3), float64(19), int64(1)
memory usage: 1.2 MB

In [13]:
df.CITY.cat.categories

Index(['ARTESIA', 'Aberdeen', 'Abilene', 'Abingdon', 'Abington', 'Ada',
       'Addison', 'Adelphi', 'Adelphia', 'Adrian',
       ...
       'Yuba City', 'Yucaipa', 'Yucca Valley', 'Yukon', 'Yuma', 'Zanesville',
       'Zebulon', 'greenacres', 'memphis', 'white plains'],
      dtype='object', length=2456)

In [43]:
df.CITY.cat.codes.sort_values()

UNITID
457314         0
219259         1
235334         1
219295         1
225247         2
            ...
204255      2451
48511101    2452
485485      2453
483744      2454
475404      2455
Length: 6433, dtype: int16

In [66]:
df.loc[48511101]

CITY                                                              Zebulon
STABBR                                                                 GA
ACCREDAGENCY            Southern Association of Colleges and Schools C...
CONTROL                                                                 1
COSTT4_A                                                              NaN
COSTT4_P                                                              NaN
TUITIONFEE_IN                                                      6120.0
TUITIONFEE_OUT                                                        NaN
PFTFAC                                                                NaN
PCTPELL                                                               NaN
GRAD_DEBT_MDN                                                      9371.0
WDRAW_DEBT_MDN                                                     4940.0
LO_INC_DEBT_MDN                                                    5500.0
MD_INC_DEBT_MDN                                                    5343.0
HI_INC_DEBT_MDN                                                    5500.0
DEP_DEBT_MDN                                                       4500.0
IND_DEBT_MDN                                                       7500.0
PELL_DEBT_MDN                                                      5500.0
NOPELL_DEBT_MDN                                                    5407.0
FEMALE_DEBT_MDN                                                    5500.0
MALE_DEBT_MDN                                                      5299.0
FIRSTGEN_DEBT_MDN                                                  5500.0
NOTFIRSTGEN_DEBT_MDN                                               5196.0
Name: 48511101, dtype: object

### Handle null values in categorical columns

In [15]:
# Check for nulls in categorical columns
df[categoricals].isna().sum()

CITY              0
STABBR            0
ACCREDAGENCY    354
dtype: int64

In [16]:
# drop columns nulls ACCREDAGENCY 
df.dropna(subset=['ACCREDAGENCY'], inplace=True)

In [17]:
df.shape

(6433, 23)

In [18]:
df[categoricals].isna().sum()

CITY            0
STABBR          0
ACCREDAGENCY    0
dtype: int64

### Save Category Codes into dataframe and then csv to be accessed later

In [49]:
cats = pd.Categorical(df['CITY']).categories

In [51]:
cats

Index(['ARTESIA', 'Aberdeen', 'Abilene', 'Abingdon', 'Abington', 'Ada',
       'Addison', 'Adelphi', 'Adelphia', 'Adrian',
       ...
       'Yuba City', 'Yucaipa', 'Yucca Valley', 'Yukon', 'Yuma', 'Zanesville',
       'Zebulon', 'greenacres', 'memphis', 'white plains'],
      dtype='object', length=2456)

In [50]:
pd.Categorical(cats).codes

array([   0,    1,    2, ..., 2453, 2454, 2455], dtype=int16)

In [64]:
# Function to create dataframes containing each categories/codes set 
def create_codes_df(col, df): 
    df_tmp = pd.DataFrame()
    # Create column in category codes df with the categories
    df_tmp[col] = pd.Categorical(df[col]).categories
    # Create column in category codes df with the matching codes 
    df_tmp[col+'_code'] = pd.Categorical(df_tmp[col]).codes 
    return df_tmp

In [79]:
city_cat_codes = create_codes_df('CITY', df)
city_cat_codes

              CITY  CITY_code
0          ARTESIA          0
1         Aberdeen          1
2          Abilene          2
3         Abingdon          3
4         Abington          4
...            ...        ...
2451    Zanesville       2451
2452       Zebulon       2452
2453    greenacres       2453
2454       memphis       2454
2455  white plains       2455

[2456 rows x 2 columns]

In [80]:
stabbr_cat_codes = create_codes_df('STABBR', df)
accred_cat_codes = create_codes_df('ACCREDAGENCY', df)

In [82]:
# Save cat codes to csv files for later reference 
stabbr_cat_codes.to_csv('./stabbr_cat_codes.csv', index=False)
city_cat_codes.to_csv('./city_cat_codes.csv', index=False)
accred_cat_codes.to_csv('./accred_cat_codes.csv', index=False)

### Turn categorical columns into numbers

In [83]:
for label, content in df.items(): 
    if not pd.api.types.is_numeric_dtype(content): 
        df[label] = pd.Categorical(content).codes

In [84]:
# check that categories are now ints 
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6433 entries, 100654 to 49146401
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CITY                  6433 non-null   int16
 1   STABBR                6433 non-null   int8
 2   ACCREDAGENCY          6433 non-null   int8
 3   CONTROL               6433 non-null   int64
 4   COSTT4_A              3359 non-null   float64
 5   COSTT4_P              2009 non-null   float64
 6   TUITIONFEE_IN         3734 non-null   float64
 7   TUITIONFEE_OUT        3522 non-null   float64
 8   PFTFAC                3573 non-null   float64
 9   PCTPELL               5722 non-null   float64
 10  GRAD_DEBT_MDN         5034 non-null   float64
 11  WDRAW_DEBT_MDN        4893 non-null   float64
 12  LO_INC_DEBT_MDN       4960 non-null   float64
 13  MD_INC_DEBT_MDN       4248 non-null   float64
 14  HI_INC_DEBT_MDN       4242 non-null   float64
 15  DEP_DEBT_MDN          4787 non-null   float64
 16  IND_DEBT_MDN          4787 non-null   float64
 17  PELL_DEBT_MDN         4613 non-null   float64
 18  NOPELL_DEBT_MDN       4613 non-null   float64
 19  FEMALE_DEBT_MDN       4375 non-null   float64
 20  MALE_DEBT_MDN         4375 non-null   float64
 21  FIRSTGEN_DEBT_MDN     4516 non-null   float64
 22  NOTFIRSTGEN_DEBT_MDN  4516 non-null   float64
dtypes: float64(19), int16(1), int64(1), int8(2)
memory usage: 1.3 MB

### Split data into train and test sets

In [85]:
df.columns

Index(['CITY', 'STABBR', 'ACCREDAGENCY', 'CONTROL', 'COSTT4_A', 'COSTT4_P',
       'TUITIONFEE_IN', 'TUITIONFEE_OUT', 'PFTFAC', 'PCTPELL', 'GRAD_DEBT_MDN',
       'WDRAW_DEBT_MDN', 'LO_INC_DEBT_MDN', 'MD_INC_DEBT_MDN',
       'HI_INC_DEBT_MDN', 'DEP_DEBT_MDN', 'IND_DEBT_MDN', 'PELL_DEBT_MDN',
       'NOPELL_DEBT_MDN', 'FEMALE_DEBT_MDN', 'MALE_DEBT_MDN',
       'FIRSTGEN_DEBT_MDN', 'NOTFIRSTGEN_DEBT_MDN'],
      dtype='object')

In [86]:
# Select predictor features 
selected_features = ['CITY', 'STABBR', 'ACCREDAGENCY', 'CONTROL', 'COSTT4_A', 'COSTT4_P',
       'TUITIONFEE_IN', 'TUITIONFEE_OUT', 'PFTFAC', 'PCTPELL']

In [87]:
target = 'GRAD_DEBT_MDN'

In [88]:
df[target]

UNITID
100654      33375.0
100663      22500.0
100690      27334.0
100706      21607.0
100724      32000.0
             ...
48511112     9371.0
48511113     9371.0
48616901    12125.0
49005401    21000.0
49146401        NaN
Name: GRAD_DEBT_MDN, Length: 6433, dtype: float64

In [89]:
#Define X and y variables 
X = df[selected_features]
y = df[target]

In [90]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=3)

In [91]:
X_train

,CITY,STABBR,ACCREDAGENCY,CONTROL,COSTT4_A,COSTT4_P,TUITIONFEE_IN,TUITIONFEE_OUT,PFTFAC,PCTPELL
UNITID,,,,,,,,,,
101189,1380,1,38,2,33944.0,NaN,21690.0,21690.0,0.4534,0.4888
429085,959,50,38,3,NaN,NaN,NaN,NaN,0.5333,NaN
248192,2367,20,26,3,NaN,12861.0,NaN,NaN,NaN,0.8605
185509,2350,36,22,1,10095.0,NaN,4206.0,7638.0,1.0000,0.2908
488387,394,5,41,2,NaN,NaN,NaN,NaN,0.0000,NaN
...,...,...,...,...,...,...,...,...,...,...
148098,1031,17,26,3,NaN,17370.0,NaN,NaN,NaN,0.3607
174473,2158,27,20,1,15066.0,NaN,5549.0,5549.0,0.5528,0.3015
228778,99,50,38,1,25228.0,NaN,10610.0,37580.0,0.8434,0.2262
175120,1352,27,16,2,NaN,15306.0,NaN,NaN,NaN,0.5753
492379,184,33,3,3,NaN,18325.0,NaN,NaN,NaN,0.0000

### Fill in missing Numerical data in test set and training set separately

In [92]:
X_train.isna().sum()

CITY                 0
STABBR               0
ACCREDAGENCY         0
CONTROL              0
COSTT4_A          2466
COSTT4_P          3545
TUITIONFEE_IN     2169
TUITIONFEE_OUT    2329
PFTFAC            2288
PCTPELL            578
dtype: int64

In [93]:
X_na = []
for label, content in X_train.items(): 
    if pd.api.types.is_numeric_dtype(content): 
        if pd.isnull(content).sum(): 
            print(label)
            X_na.append(label)

COSTT4_A
COSTT4_P
TUITIONFEE_IN
TUITIONFEE_OUT
PFTFAC
PCTPELL

In [94]:
# Fill nulls in X numeric columns with median, add column indicating if value was missing 
for label, content in X_train.items(): 
    if label in X_na:  
        #Add column that has true if row had missing value for the column 
        X_train[label+'_is_missing'] = pd.isnull(content) 
        # Fill missing values for median for the column 
        X_train[label] = content.fillna(content.median())

<ipython-input-94-ef68476bce50>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[label+'_is_missing'] = pd.isnull(content)
<ipython-input-94-ef68476bce50>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[label] = content.fillna(content.median())
<ipython-input-94-ef68476bce50>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[label+'_is_missing'] = pd.isnull(content)
<ipython-input-94-ef68476bce50>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[label] = content.fillna(content.median())
<ipython-input-94-ef68476bce50>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[label+'_is_missing'] = pd.isnull(content)
<ipython-input-94-ef68476bce50>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[label] = content.fillna(content.median())
<ipython-input-94-ef68476bce50>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[label+'_is_missing'] = pd.isnull(content)
<ipython-input-94-ef68476bce50>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[label] = content.fillna(content.median())
<ipython-input-94-ef68476bce50>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[label+'_is_missing'] = pd.isnull(content)
<ipython-input-94-ef68476bce50>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[label] = content.fillna(content.median())
<ipython-input-94-ef68476bce50>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[label+'_is_missing'] = pd.isnull(content)
<ipython-input-94-ef68476bce50>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[label] = content.fillna(content.median())

In [95]:
X_train.isna().sum()

CITY                         0
STABBR                       0
ACCREDAGENCY                 0
CONTROL                      0
COSTT4_A                     0
COSTT4_P                     0
TUITIONFEE_IN                0
TUITIONFEE_OUT               0
PFTFAC                       0
PCTPELL                      0
COSTT4_A_is_missing          0
COSTT4_P_is_missing          0
TUITIONFEE_IN_is_missing     0
TUITIONFEE_OUT_is_missing    0
PFTFAC_is_missing            0
PCTPELL_is_missing           0
dtype: int64

In [96]:
X_test.isna().sum()

CITY                0
STABBR              0
ACCREDAGENCY        0
CONTROL             0
COSTT4_A          608
COSTT4_P          879
TUITIONFEE_IN     530
TUITIONFEE_OUT    582
PFTFAC            572
PCTPELL           133
dtype: int64

In [97]:
# Do the same for X_test 
def fill_na(dataframe): 
    for label, content in dataframe.items(): 
        if pd.isnull(content).sum():  
            #Add column that has true if row had missing value for the column 
            dataframe[label+'_is_missing'] = pd.isnull(content) 
            # Fill missing values for median for the column 
            dataframe[label] = content.fillna(content.median())

In [98]:
fill_na(X_test)

<ipython-input-97-c1472fc2007d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe[label+'_is_missing'] = pd.isnull(content)
<ipython-input-97-c1472fc2007d>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe[label] = content.fillna(content.median())
<ipython-input-97-c1472fc2007d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe[label+'_is_missing'] = pd.isnull(content)
<ipython-input-97-c1472fc2007d>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe[label] = content.fillna(content.median())
<ipython-input-97-c1472fc2007d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe[label+'_is_missing'] = pd.isnull(content)
<ipython-input-97-c1472fc2007d>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe[label] = content.fillna(content.median())
<ipython-input-97-c1472fc2007d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe[label+'_is_missing'] = pd.isnull(content)
<ipython-input-97-c1472fc2007d>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe[label] = content.fillna(content.median())
<ipython-input-97-c1472fc2007d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe[label+'_is_missing'] = pd.isnull(content)
<ipython-input-97-c1472fc2007d>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe[label] = content.fillna(content.median())
<ipython-input-97-c1472fc2007d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe[label+'_is_missing'] = pd.isnull(content)
<ipython-input-97-c1472fc2007d>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe[label] = content.fillna(content.median())

In [99]:
X_test.isna().sum()

CITY                         0
STABBR                       0
ACCREDAGENCY                 0
CONTROL                      0
COSTT4_A                     0
COSTT4_P                     0
TUITIONFEE_IN                0
TUITIONFEE_OUT               0
PFTFAC                       0
PCTPELL                      0
COSTT4_A_is_missing          0
COSTT4_P_is_missing          0
TUITIONFEE_IN_is_missing     0
TUITIONFEE_OUT_is_missing    0
PFTFAC_is_missing            0
PCTPELL_is_missing           0
dtype: int64

In [100]:
# fill na in y_train and y_test 
y_train.fillna(y_train.median(), inplace=True)

In [101]:
y_train.isna().sum()

0

In [102]:
X_test.isna().sum()

CITY                         0
STABBR                       0
ACCREDAGENCY                 0
CONTROL                      0
COSTT4_A                     0
COSTT4_P                     0
TUITIONFEE_IN                0
TUITIONFEE_OUT               0
PFTFAC                       0
PCTPELL                      0
COSTT4_A_is_missing          0
COSTT4_P_is_missing          0
TUITIONFEE_IN_is_missing     0
TUITIONFEE_OUT_is_missing    0
PFTFAC_is_missing            0
PCTPELL_is_missing           0
dtype: int64

In [103]:
y_test.fillna(y_test.median(), inplace=True)

In [104]:
y_test.isna().sum()

0

## Build and Train model

In [105]:
model = RandomForestRegressor()

In [106]:
model.fit(X_train, y_train)

RandomForestRegressor()

In [107]:
y_pred = model.predict(X_test)

In [108]:
r_squared = metrics.r2_score(y_test, y_pred)
mae = metrics.mean_absolute_error(y_test, y_pred)
print('R-Squared Score: ', r_squared)
print('Mean Absolute Error: ', mae)

R-Squared Score:  0.7381390102239831
Mean Absolute Error:  2647.088352046102

### Pickle model

In [109]:
file_name = 'rf_regressor1.pkl'
pickle.dump(model, open(file_name, 'wb'))