In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("../data/reduced_inst_data_with_cats.csv")

In [4]:
df.head()

,UNITID,INSTNM,CITY,STABBR,ACCREDAGENCY,CONTROL,COSTT4_A,COSTT4_P,TUITIONFEE_IN,TUITIONFEE_OUT,...,MD_INC_DEBT_MDN,HI_INC_DEBT_MDN,DEP_DEBT_MDN,IND_DEBT_MDN,PELL_DEBT_MDN,NOPELL_DEBT_MDN,FEMALE_DEBT_MDN,MALE_DEBT_MDN,FIRSTGEN_DEBT_MDN,NOTFIRSTGEN_DEBT_MDN
0,100654,Alabama A & M University,Normal,AL,Southern Association of Colleges and Schools C...,1,22489.0,NaN,9744.0,18354.0,...,16000.0,14518.0,15000.0,19000.0,17500.0,10250.0,17500.0,14250.0,15000.0,16421.0
1,100663,University of Alabama at Birmingham,Birmingham,AL,Southern Association of Colleges and Schools C...,1,24347.0,NaN,8568.0,19704.0,...,15250.0,14000.0,15000.0,16000.0,17500.0,12500.0,15000.0,15000.0,15104.0,15000.0
2,100690,Amridge University,Montgomery,AL,Southern Association of Colleges and Schools C...,2,17680.0,NaN,6900.0,6900.0,...,19000.0,25000.0,7646.0,12038.0,9500.0,15509.0,9500.0,17025.0,11500.0,9500.0
3,100706,University of Alabama in Huntsville,Huntsville,AL,Southern Association of Colleges and Schools C...,1,23441.0,NaN,10714.0,22362.0,...,14750.0,12500.0,12750.0,18569.0,17014.0,11899.0,15250.0,13333.0,14943.0,13102.0
4,100724,Alabama State University,Montgomery,AL,Southern Association of Colleges and Schools C...,1,21476.0,NaN,11068.0,19396.0,...,18500.0,18246.0,17500.0,23925.0,19056.0,12000.0,19500.0,15525.0,19000.0,17500.0

In [5]:
df.INSTNM[df.INSTNM == "Columbia College - Coast Guard Island"]

Series([], Name: INSTNM, dtype: object)

In [9]:
df.INSTNM[df['INSTNM'].str.contains("Coast Guard")]

Series([], Name: INSTNM, dtype: object)

In [13]:
school_list = ["Columbia College - Coast Guard Island","Avalon School of Cosmetology-Alameda","College of Alameda"]

In [14]:
df.INSTNM[df['INSTNM'].isin(school_list)].count()

1

In [ ]:
df.INSTNM[df['INSTNM']]